
.icon-compass:before { content: '\e800'; } /* '' */
.icon-heart-empty:before { content: '\e801'; } /* '' */
.icon-comment:before { content: '\e802'; } /* '' */
.icon-bookmark-empty:before { content: '\e803'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */